<h1> Pages you like </h1>
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
  </tr>
	<% @users_pages.each do |pages| %>
  <tr>
    <td><%= pages.name %></td>
    <td><%= pages.category %></td>
  </tr>
     <% end %>
</table>
<%= @fb_access_token %>